In [3]:
import pandas as pd
import numpy as np

In [5]:
data = pd.read_csv(r"C:\Users\Dell\Downloads\Intership\Projects\Food Price Tracker\WLD_RTFP_country_2023-10-02.csv",encoding='latin1')
print(data)

      Open  High   Low  Close  Inflation      country ISO3        date
0     0.53  0.54  0.53   0.53        NaN  Afghanistan  AFG  01-01-2007
1     0.53  0.54  0.53   0.53        NaN  Afghanistan  AFG  01-02-2007
2     0.54  0.54  0.53   0.53        NaN  Afghanistan  AFG  01-03-2007
3     0.53  0.55  0.53   0.55        NaN  Afghanistan  AFG  01-04-2007
4     0.56  0.57  0.56   0.57        NaN  Afghanistan  AFG  01-05-2007
...    ...   ...   ...    ...        ...          ...  ...         ...
4793  2.74  2.78  2.70   2.75      -0.28  Yemen, Rep.  YEM  01-06-2023
4794  2.79  2.83  2.75   2.81      -1.85  Yemen, Rep.  YEM  01-07-2023
4795  2.85  2.89  2.81   2.83      -3.17  Yemen, Rep.  YEM  01-08-2023
4796  2.86  2.97  2.82   2.97       1.68  Yemen, Rep.  YEM  01-09-2023
4797  3.06  3.11  2.98   2.98       3.76  Yemen, Rep.  YEM  01-10-2023

[4798 rows x 8 columns]

In [7]:
# Check the size of the data
data.shape

(4798, 8)

In [9]:
# Convert the date (data type = object) into year (data type = int)
df = pd.DataFrame(data)
df['date'] = pd.to_datetime(df['date'])
df['year'] = df['date'].dt.year
print(df)

      Open  High   Low  Close  Inflation      country ISO3       date  year
0     0.53  0.54  0.53   0.53        NaN  Afghanistan  AFG 2007-01-01  2007
1     0.53  0.54  0.53   0.53        NaN  Afghanistan  AFG 2007-01-02  2007
2     0.54  0.54  0.53   0.53        NaN  Afghanistan  AFG 2007-01-03  2007
3     0.53  0.55  0.53   0.55        NaN  Afghanistan  AFG 2007-01-04  2007
4     0.56  0.57  0.56   0.57        NaN  Afghanistan  AFG 2007-01-05  2007
...    ...   ...   ...    ...        ...          ...  ...        ...   ...
4793  2.74  2.78  2.70   2.75      -0.28  Yemen, Rep.  YEM 2023-01-06  2023
4794  2.79  2.83  2.75   2.81      -1.85  Yemen, Rep.  YEM 2023-01-07  2023
4795  2.85  2.89  2.81   2.83      -3.17  Yemen, Rep.  YEM 2023-01-08  2023
4796  2.86  2.97  2.82   2.97       1.68  Yemen, Rep.  YEM 2023-01-09  2023
4797  3.06  3.11  2.98   2.98       3.76  Yemen, Rep.  YEM 2023-01-10  2023

[4798 rows x 9 columns]

In [11]:
df.isnull().sum()

Open          64
High          64
Low           64
Close         64
Inflation    364
country        0
ISO3           0
date           0
year           0
dtype: int64

In [13]:
## Fill the empty coloumns with its own column mean value
numeric_cols = df.select_dtypes(include=[np.number]).columns
df[numeric_cols] = df[numeric_cols].fillna(df[numeric_cols].mean())
df.isnull().sum()

Open         0
High         0
Low          0
Close        0
Inflation    0
country      0
ISO3         0
date         0
year         0
dtype: int64

In [15]:
# Again check any Nan Value
df.isna().sum()

Open         0
High         0
Low          0
Close        0
Inflation    0
country      0
ISO3         0
date         0
year         0
dtype: int64

In [17]:
df

      Open  High   Low  Close  Inflation      country ISO3       date  year
0     0.53  0.54  0.53   0.53  14.692346  Afghanistan  AFG 2007-01-01  2007
1     0.53  0.54  0.53   0.53  14.692346  Afghanistan  AFG 2007-01-02  2007
2     0.54  0.54  0.53   0.53  14.692346  Afghanistan  AFG 2007-01-03  2007
3     0.53  0.55  0.53   0.55  14.692346  Afghanistan  AFG 2007-01-04  2007
4     0.56  0.57  0.56   0.57  14.692346  Afghanistan  AFG 2007-01-05  2007
...    ...   ...   ...    ...        ...          ...  ...        ...   ...
4793  2.74  2.78  2.70   2.75  -0.280000  Yemen, Rep.  YEM 2023-01-06  2023
4794  2.79  2.83  2.75   2.81  -1.850000  Yemen, Rep.  YEM 2023-01-07  2023
4795  2.85  2.89  2.81   2.83  -3.170000  Yemen, Rep.  YEM 2023-01-08  2023
4796  2.86  2.97  2.82   2.97   1.680000  Yemen, Rep.  YEM 2023-01-09  2023
4797  3.06  3.11  2.98   2.98   3.760000  Yemen, Rep.  YEM 2023-01-10  2023

[4798 rows x 9 columns]